.App {
  text-align: center;
  background-image: url('https://apod.nasa.gov/apod/image/2003/Messier13_HelmColes.jpg')
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

p{
  color:white;
  font-size: 3rem;
}

h2{
  font-size: 4rem;
  color: white; 

  animation-name: text-color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text-color{
  0% {color: white}
  25% {color: aquamarine}
  50% {color: mediumpurple}
  75% {color: salmon}
  100% {color: bisque}
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
